@font-face {
    font-family: 'Nunitoregular';
    src: ('./fonts/Nunito-Regular.woff2'),
    ('./fonts/Nunito-Regular.woff'),
    ('./fonts/Nunito-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunitosemibold';
    src: ('./fonts/Nunito-SemiBold.woff2'),
    ('./fonts/Nunito-SemiBold.woff'),
   ('./fonts/Nunito-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunitomedium';
    src: ('./fonts/Nunito-Medium.woff2'),
    ('./fonts/Nunito-Medium.woff'),
    ('./fonts/Nunito-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunitobold';
    src: ('./fonts/Nunito-Bold.woff2'),
    ('./fonts/Nunito-Bold.woff'),
    ('./fonts/Nunito-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
